.card {
  width :300px;
  height: 380px;
  background-color: #ffffff;
  border-radius: 70px;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 30px;

  .trade{
    .profile-job {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding-right: 30px;
      padding-left: 30px;

      .graduated {
        display: flex;
        align-items: center;
      }
    }
  }

.profile {
  display: flex;
  flex-direction: column;
  align-self: center;

  .user-picture {
    max-width: 406px;
    object-fit: contain;
    padding-bottom: 19px;
  }

  .user-name {
    display: flex;
    align-self: center;
  }
}
  .user-skills {
    display: flex;
    flex-direction: row;
    align-self: center;
    gap: 10px;
    padding-left: 15px;
    padding-right: 15px;
  }
};